.App {
  margin-top: 150px;
  text-align: center;
 
}
body{
  background-image: url("https://img.freepik.com/free-psd/varities-donut-flavor-shot-aerial-view_53876-15455.jpg?w=1800&t=st=1666474867~exp=1666475467~hmac=64b2e5b1876bc2b19673065840e5e7383b561899590c98e92c68114ea6d6d8cc");
  background-repeat: no-repeat;
  width: 100%;
}
h1{
  background-color: rgb(129, 198, 232, 0.8);
  color: #3C2317;
  padding: 15px;
  font-family: 'Fuzzy Bubbles', cursive;
}
p{
  background-color: rgb(198, 137, 198, 0.8);
  font-size: 25px;
  padding: 15px;
  font-family: 'Fuzzy Bubbles', cursive;
  
}
button{
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: #F5F0BB;
  font-family: 'Fuzzy Bubbles', cursive;
}